<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="com.higherfrequencytrading.chronology.log4j2">

    <!-- ******************************************************************* -->
    <!-- APPENDERS                                                           -->
    <!-- ******************************************************************* -->

    <appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[RAVEN] [%-5p] %c - %m%n%throwable{none}"/>
        </Console>

        <BinaryVanillaChronicleAppender name="BINARY-VANILLA-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/binary-vanilla-chronicle</path>
            <formatMessage>false</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
        </BinaryVanillaChronicleAppender>

        <BinaryVanillaChronicleAppender name="BINARY-VANILLA-CHRONICLE-FMT">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/binary-vanilla-chronicle-fmt</path>
            <formatMessage>true</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
        </BinaryVanillaChronicleAppender>

    </appenders>

    <!-- ******************************************************************* -->
    <!-- LOGGERS                                                             -->
    <!-- ******************************************************************* -->

    <loggers>
        <logger name="binary-vanilla-chronicle" level="trace" additivity="false">
            <appender-ref ref="BINARY-VANILLA-CHRONICLE"/>
        </logger>
        <logger name="binary-vanilla-chronicle-fmt" level="trace" additivity="false">
            <appender-ref ref="BINARY-VANILLA-CHRONICLE-FMT"/>
        </logger>
        <root level="all">
            <appender-ref ref="STDOUT"/>
        </root>
    </loggers>

</configuration>
