<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="com.higherfrequencytrading.chronology.log4j2">

    <!-- ******************************************************************* -->
    <!-- APPENDERS                                                           -->
    <!-- ******************************************************************* -->

    <appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[CHRONOLOGY] [%-5p] %c - %m%n%throwable{none}"/>
        </Console>

        <!-- *************************************************************** -->
        <!-- VANILLA                                                         -->
        <!-- *************************************************************** -->

        <BinaryVanillaChronicle name="BINARY-VANILLA-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/binary-vanilla-chronicle</path>
            <formatMessage>false</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
        </BinaryVanillaChronicle>

        <BinaryVanillaChronicle name="BINARY-VANILLA-CHRONICLE-FMT">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/binary-vanilla-chronicle-fmt</path>
            <formatMessage>true</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
        </BinaryVanillaChronicle>

        <TextVanillaChronicle name="TEXT-VANILLA-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/text-vanilla-chronicle</path>
            <dateFormat>yyyy.MM.dd-HH:mm:ss.SSS</dateFormat>
        </TextVanillaChronicle>

        <!-- *************************************************************** -->
        <!-- INDEXED                                                         -->
        <!-- *************************************************************** -->

        <BinaryIndexedChronicle name="BINARY-INDEXED-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/binary-indexed-chronicle</path>
            <formatMessage>false</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
        </BinaryIndexedChronicle>

        <BinaryIndexedChronicle name="BINARY-INDEXED-CHRONICLE-FMT">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/binary-indexed-chronicle-fmt</path>
            <formatMessage>true</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
        </BinaryIndexedChronicle>

        <TextIndexedChronicle name="TEXT-INDEXED-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/text-indexed-chronicle</path>
            <dateFormat>yyyy.MM.dd-HH:mm:ss.SSS</dateFormat>
        </TextIndexedChronicle>

    </appenders>

    <!-- ******************************************************************* -->
    <!-- LOGGERS                                                             -->
    <!-- ******************************************************************* -->

    <loggers>

        <root level="all">
            <appender-ref ref="STDOUT"/>
        </root>

        <!-- *************************************************************** -->
        <!-- VANILLA                                                         -->
        <!-- *************************************************************** -->

        <logger name="binary-vanilla-chronicle" level="trace" additivity="false">
            <appender-ref ref="BINARY-VANILLA-CHRONICLE"/>
        </logger>
        <logger name="binary-vanilla-chronicle-fmt" level="trace" additivity="false">
            <appender-ref ref="BINARY-VANILLA-CHRONICLE-FMT"/>
        </logger>
        <logger name="text-vanilla-chronicle" level="trace" additivity="false">
            <appender-ref ref="TEXT-VANILLA-CHRONICLE"/>
        </logger>

        <!-- *************************************************************** -->
        <!-- INDEXED                                                         -->
        <!-- *************************************************************** -->

        <logger name="binary-indexed-chronicle" level="trace" additivity="false">
            <appender-ref ref="BINARY-INDEXED-CHRONICLE"/>
        </logger>
        <logger name="binary-indexed-chronicle-fmt" level="trace" additivity="false">
            <appender-ref ref="BINARY-INDEXED-CHRONICLE-FMT"/>
        </logger>
        <logger name="text-indexed-chronicle" level="trace" additivity="false">
            <appender-ref ref="TEXT-INDEXED-CHRONICLE"/>
        </logger>

    </loggers>

</configuration>
