<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     Copyright (C) 2015  higherfrequencytrading.com
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Lesser General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Lesser General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Lesser General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration>

    <appender name  = "STDOUT"
              class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %contextName [%t] %level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- ******************************************************************* -->
    <!-- INDEXED - TEXT                                                      -->
    <!-- ******************************************************************* -->

    <appender name  = "TEXT-INDEXED-CHRONICLE"
              class = "net.openhft.chronicle.logger.logback.TextIndexedChronicleAppender">
        <path>${java.io.tmpdir}/chronicle-logback/text-indexed-chronicle</path>
        <dateFormat>yyyy.MM.dd-HH:mm:ss.SSS</dateFormat>
        <stackTradeDepth>3</stackTradeDepth>
    </appender>

    <logger name="text-indexed-chronicle" level="TRACE" additivity="false">
        <appender-ref ref="TEXT-INDEXED-CHRONICLE"/>
    </logger>

    <!-- ******************************************************************* -->
    <!--                                                                     -->
    <!-- ******************************************************************* -->

    <logger name="net.openhft" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
