<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2014 Higher Frequency Trading
  ~
  ~ http://www.higherfrequencytrading.com
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>

    <appender name  = "STDOUT"
              class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %contextName [%t] %level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- ******************************************************************* -->
    <!-- CONFIG - INDEXED                                                    -->
    <!-- ******************************************************************* -->

    <appender name  = "CONFIG-BINARY-INDEXED-CHRONICLE"
              class = "net.openhft.chronicle.logger.logback.BinaryIndexedChronicleAppender">
        <path>${java.io.tmpdir}/chronicle-logback/config-binary-indexed-chronicle</path>
        <includeCallerData>false</includeCallerData>
        <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>

        <chronicleConfig>
            <indexBlockSize>128</indexBlockSize>
            <useCompressedObjectSerializer>false</useCompressedObjectSerializer>
        </chronicleConfig>

    </appender>

    <logger name="config-binary-indexed-chronicle" level="TRACE" additivity="false">
        <appender-ref ref="CONFIG-BINARY-INDEXED-CHRONICLE"/>
    </logger>

    <appender name  = "CONFIG-TEXT-INDEXED-CHRONICLE"
              class = "net.openhft.chronicle.logger.logback.TextIndexedChronicleAppender">
        <path>${java.io.tmpdir}/chronicle-logback/config-text-indexed-chronicle</path>

        <chronicleConfig>
            <indexBlockSize>128</indexBlockSize>
            <useCompressedObjectSerializer>false</useCompressedObjectSerializer>
        </chronicleConfig>

    </appender>

    <logger name="config-text-indexed-chronicle" level="TRACE" additivity="false">
        <appender-ref ref="CONFIG-TEXT-INDEXED-CHRONICLE"/>
    </logger>

    <!-- ******************************************************************* -->
    <!--                                                                     -->
    <!-- ******************************************************************* -->

    <logger name="net.openhft" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
