<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2014 Higher Frequency Trading
  ~ <p/>
  ~ http://www.higherfrequencytrading.com
  ~ <p/>
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~ <p/>
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ <p/>
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration packages="net.openhft.chronicle.logger,net.openhft.chronicle.logger.log4j2">

    <!-- ******************************************************************* -->
    <!-- APPENDERS                                                           -->
    <!-- ******************************************************************* -->

    <appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[CHRONOLOGY] [%-5p] %c - %m%n%throwable{none}"/>
        </Console>

        <RandomAccessFile
                name           = "PERF-PLAIN-VANILLA"
                fileName       = "logs/$${sys:java.io.tmpdir}/chronology-log4j2/perf-plain-vanilla.log"
                immediateFlush = "false"
                append         = "false">
            <PatternLayout>
                <Pattern>%d|%t|%c|%m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>

        <RandomAccessFile
                name           = "PERF-PLAIN-INDEXED"
                fileName       = "logs/$${sys:java.io.tmpdir}/chronology-log4j2/perf-plain-indexed.log"
                immediateFlush = "false"
                append         = "false">
            <PatternLayout>
                <Pattern>%d|%t|%c|%m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>

        <!-- *************************************************************** -->
        <!-- VANILLA                                                         -->
        <!-- *************************************************************** -->

        <BinaryVanillaChronicle name="CONF-BINARY-VANILLA-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/conf-binary-vanilla-chronicle</path>
            <formatMessage>false</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
            <chronicleConfig>
                <dataCacheCapacity>128</dataCacheCapacity>
            </chronicleConfig>
        </BinaryVanillaChronicle>

        <TextVanillaChronicle name="CONF-TEXT-VANILLA-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/conf-text-vanilla-chronicle</path>
            <dateFormat>yyyy.MM.dd-HH:mm:ss.SSS</dateFormat>
            <stackTraceDepth>3</stackTraceDepth>
        </TextVanillaChronicle>

        <BinaryVanillaChronicle name="BINARY-VANILLA-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/binary-vanilla-chronicle</path>
            <formatMessage>false</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
            <chronicleConfig>
                <dataCacheCapacity>128</dataCacheCapacity>
            </chronicleConfig>
        </BinaryVanillaChronicle>

        <BinaryVanillaChronicle name="BINARY-VANILLA-CHRONICLE-FMT">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/binary-vanilla-chronicle-fmt</path>
            <formatMessage>true</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
            <chronicleConfig>
                <dataCacheCapacity>128</dataCacheCapacity>
            </chronicleConfig>
        </BinaryVanillaChronicle>

        <BinaryVanillaChronicle name="PERF-BINARY-VANILLA-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/perf-binary-vanilla-chronicle</path>
            <formatMessage>false</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
            <chronicleConfig>
                <dataCacheCapacity>128</dataCacheCapacity>
            </chronicleConfig>
        </BinaryVanillaChronicle>

        <TextVanillaChronicle name="TEXT-VANILLA-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/text-vanilla-chronicle</path>
            <dateFormat>yyyy.MM.dd-HH:mm:ss.SSS</dateFormat>
            <stackTraceDepth>3</stackTraceDepth>
        </TextVanillaChronicle>


        <!-- *************************************************************** -->
        <!-- INDEXED                                                         -->
        <!-- *************************************************************** -->

        <BinaryIndexedChronicle name="BINARY-INDEXED-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/binary-indexed-chronicle</path>
            <formatMessage>false</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
        </BinaryIndexedChronicle>

        <BinaryIndexedChronicle name="BINARY-INDEXED-CHRONICLE-FMT">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/binary-indexed-chronicle-fmt</path>
            <formatMessage>true</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
        </BinaryIndexedChronicle>

        <BinaryIndexedChronicle name="PERF-BINARY-INDEXED-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/perf-binary-indexed-chronicle</path>
            <formatMessage>false</formatMessage>
            <includeCallerData>false</includeCallerData>
            <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>
        </BinaryIndexedChronicle>

        <TextIndexedChronicle name="TEXT-INDEXED-CHRONICLE">
            <path>${sys:java.io.tmpdir}/chronology-log4j2/text-indexed-chronicle</path>
            <dateFormat>yyyy.MM.dd-HH:mm:ss.SSS</dateFormat>
            <stackTraceDepth>3</stackTraceDepth>
        </TextIndexedChronicle>

    </appenders>

    <!-- ******************************************************************* -->
    <!-- LOGGERS                                                             -->
    <!-- ******************************************************************* -->

    <loggers>

        <root level="all">
            <appender-ref ref="STDOUT"/>
        </root>

        <logger name="perf-plain-vanilla" level="trace" additivity="false">
            <appender-ref ref="PERF-PLAIN-VANILLA"/>
        </logger>

        <logger name="perf-plain-indexed" level="trace" additivity="false">
            <appender-ref ref="PERF-PLAIN-INDEXED"/>
        </logger>


        <!-- *************************************************************** -->
        <!-- VANILLA                                                         -->
        <!-- *************************************************************** -->

        <logger name="binary-vanilla-chronicle" level="trace" additivity="false">
            <appender-ref ref="BINARY-VANILLA-CHRONICLE"/>
        </logger>
        <logger name="binary-vanilla-chronicle-fmt" level="trace" additivity="false">
            <appender-ref ref="BINARY-VANILLA-CHRONICLE-FMT"/>
        </logger>
        <logger name="perf-binary-vanilla-chronicle" level="trace" additivity="false">
            <appender-ref ref="PERF-BINARY-VANILLA-CHRONICLE"/>
        </logger>
        <logger name="text-vanilla-chronicle" level="trace" additivity="false">
            <appender-ref ref="TEXT-VANILLA-CHRONICLE"/>
        </logger>

        <!-- *************************************************************** -->
        <!-- INDEXED                                                         -->
        <!-- *************************************************************** -->

        <logger name="binary-indexed-chronicle" level="trace" additivity="false">
            <appender-ref ref="BINARY-INDEXED-CHRONICLE"/>
        </logger>
        <logger name="binary-indexed-chronicle-fmt" level="trace" additivity="false">
            <appender-ref ref="BINARY-INDEXED-CHRONICLE-FMT"/>
        </logger>
        <logger name="perf-binary-indexed-chronicle" level="trace" additivity="false">
            <appender-ref ref="PERF-BINARY-INDEXED-CHRONICLE"/>
        </logger>
        <logger name="text-indexed-chronicle" level="trace" additivity="false">
            <appender-ref ref="TEXT-INDEXED-CHRONICLE"/>
        </logger>

        <!-- *************************************************************** -->
        <!--                                                                 -->
        <!-- *************************************************************** -->

        <logger name="net.openhft" level="warn"/>

    </loggers>

</configuration>
